<!DOCTYPE html>
<html>
	<head>
		<title>Consumir</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/menu.css')}}">

	<style>
	table, th, td {
	border: 1px solid black;
	}
	
	</style>
	</head>
	<body>
		<header>
			<ul id="bimd">
				<li>
					<a title="Regresar al Inicio" href="/home">Home</a>
				</li>
				<li>
					<a title="Ir a Agregar" href="/agregar">Agregar</a>
				</li>
				<!--<li>
					<a title="Ver Stock" href="/stock">Ver Stock</a>
				</li>-->
				<li style="border-right: none;
				float:right">
					<a title="Cerrar sesion" href="{{url_for('logout')}}">Cerrar Sesion</a>
				</li>
			</ul>
		</header>
		<div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
						<p>{{ msg }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
		<h1>Consumir producto</h1>
		<div class="rec">
			<fieldset>
				<legend>Consumir producto</legend>
				<form action="/consumir_producto" method="POST">
					<div class="soul">
						<label for="cantidad">Cantidad</label>
						 <input id="cantidad" name="cantidad" type="number"/> 
					
						 <label for="producto">Producto</label>
						<input id="producto" name="producto" type="text"/> 
						<!--
						<label for="vencimiento">Vencimiento</label>
						<input id="vencimiento" name="vencimiento" type="date" /> 	
						-->	
					</div>
					<input type="submit" value="Submit"/>
				</form>
			</fieldset>
		</div>
		<div>
			<fieldset>
				<legend>Todos los items registrados:</legend> 
				<div>
					<table style="width:100%" id='table'>
						<tr>
						<th>Codigo</th>
						<th>Producto</th>
						<th>Categoria</th>
						<th>Ubicacion</th>
						<th>Precio</th>
						<th>Vencimiento</th>
						</tr>
						{% for item in stock %}
						<tr>
						<td>{{item.Codigo}}</td>
						<td>{{item.Producto}}</td>
						<td>{{item.Categoria}}</td>
						<td>{{item.Ubicacion}}</td>
						<td>{{item.Precio}}</td>
						<td>{{item.Vencimiento}}</td>
						</tr>
						{% endfor %}
					</table>
					
				</div>
			</fieldset>
		</div>
		<!--
		<script>
			document.getElementById("consumir").onsubmit = function(e) {
                e.preventDefault();
                fetch('/consumir_producto', {
                    method: 'POST',
                    body: JSON.stringify({
                        'cantidad': document.getElementById('cantidad').value,
						'producto': document.getElementById('producto').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
				}).then(function(response){
                    console.log('respuesta: ', response)
                    return response.json()
                }).then(function(jsonResponse) {
					console.log("jsonResponse: ", jsonResponse)
					if (jsonResponse['error']===false){
                        const item = document.getElementById('table')
                        item.remove()
					}else{
						const message = jsonResponse['error_message']
                    	document.getElementById('error').className = ''
                    	document.getElementById('error').innerHTML = message
					}
					}).catch(function(error){
						console.log("error: "+error)
						document.getElementById('error').className=''
					});
          		}
		</script>
	-->
	</body>
</html>
